<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elderlyhealthmanagmentsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Therapist"></activity>
        <activity
            android:name=".FamilyActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ElderlyActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".signin"
            android:launchMode="singleTask" />
        <activity
            android:name=".register"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>